/* css reset */
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background-color: rgb(39,44,52);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  animation: reveal 4s ease-in infinite;
}

.sky{
  position: relative;
  height: 130px;
  background: rgb(125,223,252);
}

.sun{
  position: absolute;
  top: 8%;
  left: 38%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: rgb(255,239,0);
  transform-origin: 50% 400%;
  animation: sunrise 4s infinite ease-in-out;
}

.ground{
  height: 70px;
  background: rgb(240,222,117);
}


/* animations */
@keyframes reveal{
  0%{
    opacity: 0;
  }

  30%{
    opacity: 0.7;
  }

  40%{
    opacity: 1;
  }

  50%{
    opacity: 0.7;
  }
  
  70%{
    opacity: 0;
  }
}

@keyframes sunrise{
  0%{
    transform: rotate(-70deg);
  }
  30%{
    transform: rotate(-28deg);
  }
  70%{
    background: rgb(167, 167, 39);
  }
  100%{
    transform: rotate(75deg);
  }
}