/* css reset */
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background-color: rgb(39,44,52);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  animation: reveal 4s infinite ease-in;
}

.sky{
  position: relative;
  height: 130px;
  background: rgb(125,223,252);
}

.sun{
  position: absolute;
  top: 8%;
  left: 38%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: rgb(255,239,0);
  transform-origin: 50% 400%;
  transition: all ease;
  animation: sunrise 4s infinite ease-in-out;
}

/* pyramid */
.pyramid-left, .pyramid-right{
    width: 80px;
		height: 60px;
		background-color: #f3e7e7;
		position: absolute;
		top: 72px;
		left: 88px;
		transform: translateX(-50%);
		clip-path: polygon(70% 0, 0% 100%, 100% 100%);
    z-index: 1;
}

.pyramid-right{
  background-color: #DDDADA;
  left: 120px;
  clip-path: polygon(30% 0, 50% 100%, 100% 100%);
}

/* pyramid shadow */
.shadow{
  position: absolute;
  top: 65%;
  left: 0;
  background: rgba(0,0,0,0.2);
  height: 72px;
  width: 200px;
  animation: shadow 4s infinite ease-in-out;
}
.ground{
  height: 70px;
  background: rgb(240,222,117);
}


/* animations */
@keyframes reveal{
  0%{
    opacity: 0;
  }

  30%{
  opacity: 1;
  }

  70%{
  opacity: 0.8;
  }

  100%{
  opacity: 0;
  }
}

@keyframes sunrise{
  0%{
    transform: rotate(-70deg);
  }

  30%{
    transform: rotate(-28deg);
  }

  50%{
    transform: rotate(0deg);
  }

  70%{
    background: rgb(231, 231, 20);
  }

  100%{
    transform: rotate(75deg);
  }
}

@keyframes shadow{
  0%{
    clip-path: polygon(51px 0px, 97.5% 0px, 97.5% -1.81%, 196px -0.00%);
  }

  30%{
    clip-path: polygon(50px 2px, 80% 3px, 91.5% 41.67%, 169px 62.50%);
  }

  50%{
    clip-path: polygon(50px 2px, 80% 3px, 53.00% 41.67%, 105px 41.67%);
  }

  70%{
    clip-path: polygon(50px 2px, 80% 3px, 16% 65.28%, 18px 47.22%);

  }

  100%{
    clip-path: polygon(-2px 2px, 80% 3px, -1.5% 1.39%, -2px 1.39%);
  }
}
